//
// AuthAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire
import TINetworking

public extension EndpointRequest {
    /**
     Авторизация по логину и паролю

     - parameter body: Тело запроса на вход по логину и паролю 
     */
    static func loginPasswordRequest(body: LoginPasswordRequestBody, server: Server? = nil) -> EndpointRequest<LoginPasswordRequestBody, TokensResponse> {
        .init(templatePath: "/api/v3/mobile/auth/login/password/",
              method: .init(rawValue: "POST"),
              body: body,
              headerParameters: nil,
              acceptableStatusCodes: [200, 400, 403, 500],
              server: server)
    }
    /**
     Запрос на обновление access и refresh токенов

     - parameter body: Тело запроса на обновление access и refresh токенов 
     */
    static func tokenRenewRequest(body: TokensRenewRequestBody, server: Server? = nil) -> EndpointRequest<TokensRenewRequestBody, TokensResponse> {
        .init(templatePath: "/api/v3/mobile/auth/tokens/renew/",
              method: .init(rawValue: "POST"),
              body: body,
              headerParameters: nil,
              acceptableStatusCodes: [200, 400, 403, 404, 500],
              server: server)
    }
}
